html,
body {
  // dark mode support
  @media (prefers-color-scheme: dark) {
    background-color: black;
    // color: $blue;

    a {
      // color: $blue;
      // border-bottom-color: $blue;
      // fill: $blue;
    }
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 2.7vw;
  font-size: 20px;
}

.player {
  &__controls {
    &__lang {
      .link {
        line-height: 1.35;
      }
      .link.active {
        cursor: default;
        color: black;
      }
    }
  }
}

.videos {
//   margin-top: 35px;
}

video {
  &.first {
    padding-right: .8vw;
  }

  &.second {
    padding-left: .8vw;
  }
}

.team-members {
  & > div {
    line-height: 1.5;
  }
}

h4 {
  line-height: 1.8rem;
}

.balance {
	font-family: "LiteraturnayaW01-Bold", "Times New Roman";
	cursor: default;
	min-width: 70px;
}

.link {
  transition: color 1.33s ease-out;
  color: #8a8a8a;
  cursor: pointer;
  font-family: "LiteraturnayaW01-Bold", "Times New Roman";
  &:hover, &.active {
    color: $body-color;
  }
}

footer {
	.link {
		line-height: 1.35;
	}
}
