html,
body {
  // dark mode support
  @media (prefers-color-scheme: dark) {
    background-color: black;
    // color: $blue;

    a {
      // color: $blue;
      // border-bottom-color: $blue;
      // fill: $blue;
    }
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 40px;
  font-size: 20px;
}

.player {
  &__controls {
    &__lang {
      .link {
        line-height: 1.35;
      }
      .link.active {
        cursor: default;
        color: black;
      }
    }
  }
}

.videos {
  margin-top: 35px;
}

video {
  &.first {
    padding-right: 12.5px;
  }

  &.second {
    padding-left: 12.5px;
  }
}

.team-members {
  & > div {
    line-height: 1.5;
  }
}

.wait {
  // max-width: 400px;
}

h4 {
  line-height: 1.8rem;
}

.font-weight-bold {
	font-family: "LiteraturnayaW01-Bold";	
	// hack
	cursor: default;
}

.link {
  transition: color 1.33s ease-out;
  color: #8a8a8a;
  cursor: pointer;
  font-family: "LiteraturnayaW01-Bold", "Times New Roman";
  font-weight: bold;
  &:hover, &.active {
    color: $body-color;
  }
}
