$track-w: 100%;
$track-h: .075em;
$thumb-d: .875em;
$track-c: $body-color;
$filll-c: $body-color;

@mixin track($fill: 0) {
	box-sizing: border-box;
	border: none;
	width: $track-w; height: $track-h;
	background: $track-c;
	
	@if $fill == 1 {
		.js & {
			background: black
		}
	}
}

@mixin fill() {
	height: $track-h;
	background: $filll-c
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: 6px; height: $thumb-d;
	background: black;
}

.player__controls .slider input {
	outline: none;
	// cursor: pointer;
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none;
	}   
	
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min))/var(--range));
	--sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
	margin: 0;
	padding: 0;
	width: $track-w; height: $thumb-d;
	background: transparent;
	font: 1em/1 arial, sans-serif;
	
	&::-webkit-slider-runnable-track {
		@include track(1);
		outline: none;
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track }
	
	&::-moz-range-progress { @include fill }
	&::-ms-fill-lower { @include fill }
	
	&::-webkit-slider-thumb {
		margin-top: .5*($track-h - $thumb-d);
		@include thumb
	}
	&::-moz-range-thumb {
		@include thumb;
	    border-radius: 0; }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	
	&::-ms-tooltip { display: none }

}
